<style>
img{
  margin: 5px;
}
</style>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6 col-md-9">
              <h2 class="pull-left">
                <%= @article.title %>
              </h2>
            </div>
            <div class="col-sm-6 col-md-3">
              <h2 class="pull-right article-date">
                <%= @article.created_at.strftime("%b %d, %Y") %>
              </h2>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">

              <p>
                <%= @article.text.html_safe %>
              </p>
            </div>
          </div>
        </div>
          <div class="container-fluid comments">
            <div class="row">
              <% @article.comments.any? do %>

                  <div class="col-md-6 comment-list">
                    <h3>Comments</h3>
                    <%= render @article.comments %>
                  </div>

              <% end %>
            <div class="col-md-6">
              <h3>Add a comment:</h3>
              <%= render 'comments/form' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
